h1 {
  color: darkblue;
  font-family: Comic Sans MS, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 250%;
}
#spinner{
  border: 16px solid lightgrey;
  border-radius: 50%;
  border-top: 16px solid #0fa6bc;
  width: 120px;
  height: 120px;
  margin-left: 45%;
  margin-top: 20%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
