<style>
</style>

<div style="width:70%;margin:0 auto; background-color: lightgrey; margin-top: 5%">
    <button class="btn btn-primary btn-md pull-left" style="padding:auto;margin:auto;margin-bottom:4%" *ngIf="roleOf"
            (click)="dashback()">
        Back
    </button>
    <br>
    <div class="auth-main" style="margin-left: 10%; padding: 5%">
        <div class="auth-block">
            <div style="margin-left: 20%">
                <h1 *ngIf="!roleOf">Sign up to Atithi</h1>
                <!--<h1 *ngIf="roleOf">Add new User</h1>-->
                <br>
                <br>
            </div>
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                    <div class="form-group row"
                         [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                        <label for="inputName3" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-6">
                            <input [formControl]="name" type="text" class="form-control" id="inputName3"
                                   placeholder="Full Name">
                            <span *ngIf=" !name.valid && name.touched "
                                  class="help-block sub-little-text">Name field is required.</span>
                        </div>
                    </div>
                    <div class="form-group row"
                         [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-6">
                            <input [formControl]="email" type="email" class="form-control" id="inputEmail3"
                                   placeholder="Enter Email">
                            <span *ngIf="!email.valid && email.touched "
                                  class="help-block sub-little-text">Enter valid Email.</span>
                        </div>
                    </div>
                    <div class="form-group row"
                         [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-6">
                            <input [formControl]="password" type="password" #test class="form-control"
                                   id="inputPassword3"
                                   placeholder="Enter Password">
                            <span style="color: darkred" *ngIf=" !password.valid && password.touched "
                                  class="help-block sub-little-text">Password field is required.</span>
                            <span *ngIf=" password.value.length <= 10 && password.value.length >= 1 && password.dirty "
                                  class="help-block sub-little-text">Password must be atleast 10 characters long.</span>

                        </div>
                    </div>
                    <div class="form-group row"
                         [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched ), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                        <label for="inputPassword4" class="col-sm-2 control-label">Confirm Password</label>


                        <div class="col-sm-6">
                            <input [formControl]="repeatPassword" #test1 type="password" class="form-control"
                                   id="inputPassword4"
                                   placeholder="Repeat">

                            <span style="color: darkred" *ngIf=" !repeatPassword.valid && repeatPassword.touched"
                                  class="help-block sub-little-text">Confirm password field is required.</span>
                            <span style="color: darkred"
                                  *ngIf=" repeatPassword.value !== password.value && repeatPassword.dirty"
                                  class="help-block sub-little-text">Password and confirm password should be same.</span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10 col-md-12">
                            <div style="color:red;" class="offset-sm-2 col-sm-2 col-md-2"></div>

                            <div class="offset-sm-4 col-sm-4 col-xs-6 col-md-4 ">
                                <button [disabled]="!form.valid" type="submit"
                                        style="background-color: red; color: whitesmoke "
                                        class="btn btn-default btn-auth">Sign up
                                </button>
                            </div>
                            <!--<a routerLink="" class="auth-link" *ngIf="!roleOf">log in</a>-->
                            <div class="offset-sm-6 col-sm-6 col-xs-6 col-md-5">
                                <button style="background-color: green; margin-left: 15%; color : white"
                                        class="btn btn-default " routerLink="" *ngIf="!roleOf"> Login
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div id="toast"></div>
        </div>
    </div>
</div>

